@charset "UTF-8";

body{
    font-size:16px;
    line-height: 1.5;
    color:#424242;    
    font-family: 'Roboto', "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic,'Meiryo UI',Meiryo,"ＭＳ ゴシック",Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(56, 32, 32);
    width: 960px;
    margin: auto;
}
.outer{
    padding: 80px 0;
}
.text-center{
    text-align: center;
}
.page-title{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: red;
    background-color: rgb(86, 61, 61);
}
.box{
    /* display: flex;
    justify-content: space-between; */
    width: 640px;
    margin: 24px auto 64px;
    font-size: 18px;
}
.video{
    text-align: center;
    color: yellow;
}
.box-item{
    display: flex;
    margin-bottom: 32px;
    color: yellow;
}
.box-title{
    /* display: inline; */
    width: 180px;
    /* text-align: center; */
}

.form-control{
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 8px;
    color: red;
    background-color: white;
    box-shadow:0 4px 0 #0a3069;
    margin-left: 8px;
    padding: 8px 16px;
    font-size: 18px;
    /* text-align: center; */
}
.result{
    text-align: center;
    color: yellow;
}

.resultVideo{
    justify-content:center;
    /* text-align: center;  */
    margin: 0 auto;
    color: yellow;
}
.body{
    background-color: brown;
}
.music{
    background-color: rgb(47, 13, 13);
    color: yellow;
}